/* ---------------------------------------------------------------------------
   base functions
----------------------------------------------------------------------------*/
.cmo_clear {
  clear: both;
}

.cmo_arrowUp {
  width: 16px;
  height: 21px;
  background-image: url("../../../content/images/misc_icons/cmo_arrowUp.svg");
  background-repeat: no-repeat;
  float: left;
}

.cmo_arrowLeft {
  width: 20px;
  height: 16px;
  background-image: url("../../../content/images/misc_icons/cmo_arrowLeft.svg");
  background-repeat: no-repeat;
  float: left;
  margin-top: 5px;
  margin-right: 10px;
}

.cmo_arrowRight {
  width: 20px;
  height: 16px;
  background-image: url("../../../content/images/misc_icons/cmo_arrowRight.svg");
  background-repeat: no-repeat;
  float: right;
  margin-top: 5px;
  margin-left: 10px;
}

.cmo_alert {
  margin-bottom: 0px;
}

/* ---------------------------------------------------------------------------
   inline styles to css
   moved styles from the document here
----------------------------------------------------------------------------*/
#project_logo_box {
    font-size:200%;
    margin:6px;
}

#project_logo_box a img {
    height:40px;
    margin-right:10px;
}

#page {
    margin-bottom:30px;
}

/*
 fix for https://github.com/gbv/cmo/issues/62
 */
@media print {
  a[href]:after, a[title]:after {
    content: none !important;
  }
}

/* ---------------------------------------------------------------------------
   base structure
----------------------------------------------------------------------------*/
body {
    padding-top: 70px;
    min-width: 450px;
}

p {
    margin: 0 0 20px;
}

.dropdown-toggle .caret {
    height: 22px;
    padding-left: 10px;
    border: none;
    font-family:'FontAwesome';
    color: black;
}
.dropdown-toggle .caret:before {
    content: "\f105 ";
}
.dropdown.open .caret:before {
    content: "\f107 ";
}


/* ---------------------------------------------------------------------------
   header
----------------------------------------------------------------------------*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 540px;
  height: 70px;
  z-index: 500;
  box-shadow: 10px 0px 8px $cmo_shadow;
  background-color: white;

  #logo {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #logo img {
    height: 80px !important;
    padding: 18px 53px;
  }
  #logo #slogan {
    display: none;
  }
}


/* ---------------------------------------------------------------------------
   section
----------------------------------------------------------------------------*/
section {
    background-color: $cmo_purple_footerBack;
}
section #side_menu_1 {
    color: $secondary;
}
section #content {
    // der mittlere Bereich hat die Höhe vom ViewPort - 70px Header - 40px padding vom mittleren Bereich - 100px Fussmenu - 50px Footer
    // TODO: use variables therefor
    min-height: calc(100vh - 70px - 40px - 100px - 50px);
    background-color: white;
    border-left: 1px solid #ccc;
    padding-bottom: 60px;
}
section #sidebar {
    background-color: white;
}


/* ---------------------------------------------------------------------------
   login and languange menu
----------------------------------------------------------------------------*/

#cmo_side-menu {
  margin-top: 20px;

  #cmo_icon-profile {
    margin: 0 0 0 0;
    padding: 0 0 10px 0;
    color: $secondary;
    font-size: 14px;
    img {
      margin-bottom: 5px;
    }
  }

  .cmo_language-menu {
    list-style: none;
    margin-top: 6px;
    margin-right: 15px;

    li {
      display: inline;
    }
    li a {
      color: $secondary;
      font-size: 14px;
    }
    li.active a {
      font-weight: bold;
    }
    li:not(:last-child):after {
      content: ' | ';
      color: $secondary;
      font-size: 14px;
    }
  }
}


/* ---------------------------------------------------------------------------
   side menu
----------------------------------------------------------------------------*/
#side_menu_1, #side_menu_2 {
  padding: 0;

  #basked_badge {
    left: -12px;
    top: -14px;
    font-size: 60%;
    color: #ca1914;
  }

  ul.nav {
    float: none;
    text-align: left;
    li {
      float: none;
    }
  }


  nav {
    padding: 0;
    a {
      color: #57595a;
    }
    > ul > li {
      border-bottom: 1px solid #ccc;
    }
    > ul > li#cmo_tutorial {
      border-bottom: 0px;
    }
    > ul > li > a {
      font-size: 17px;
      padding-left: 50px;
      background-position: 15px 15px;
      background-repeat: no-repeat;
      background-size: 20px;
    }
    > ul > li#cmo_edition > a {
      background-image: url('../../../content/images/menu_icons/cmo_edition.svg');
    }
    > ul > li#cmo_catalogue > a {
      background-image: url('../../../content/images/menu_icons/cmo_catalogue.svg');
    }
    > ul > li#cmo_home > a {
      background-image: url('../../../content/images/menu_icons/cmo_home.svg');
    }
    > ul > li#cmo_basket > a {
      background-image: url('../../../content/images/menu_icons/cmo_basket.svg');
    }
    > ul > li#cmo_publish > a {
      background-image: url('../../../content/images/menu_icons/cmo_buddy.svg');
    }
    > ul > li#cmo_userGuide > a {
      background-image: url('../../../content/images/menu_icons/cmo_help.svg');
    }
    > ul > li#cmo_tutorial > a {
      background-image: url('../../../content/images/menu_icons/cmo_tutorial.svg');
    }

    // level 2
    > ul > li > ul.dropdown-menu {
      position: static;
      float: none;
      border: none;
      box-shadow: none;
      margin: 0;
      padding: 0 0 20px 0;
      background-color: white;
      border-radius: none;
      font-size: 14px;
    }
    > ul > li > ul.dropdown-menu > li > a {
      padding-left: 70px;
    }
    > ul > li > ul.dropdown-menu > li > a:hover {
      color: white;
      background-color: #666689;
    }
  }
}


/* ---------------------------------------------------------------------------
   bottom menu
----------------------------------------------------------------------------*/
#bottom_menu, #bottom_side, #side_menu_2 {
  height: 91.5px;
}


/* ---------------------------------------------------------------------------
   footer
----------------------------------------------------------------------------*/
footer {
    font-size: 12px;

  #subnav #side_menu_2 {
    color: $secondary;
    background-color: white;
    border-top: 1px solid #ccc;
  }

  #subnav #bottom_menu,
  #subnav #bottom_side {
    color: $secondary;
    background-color: $cmo_purple_footerBack;
    border-top: 1px solid #ccc;
  }

  #subnav #bottom_menu {
    border-left: 1px solid #ccc;
  }

  #powered {
    color: white;
    background-color: $cmo_purple_separators;
  }

  #powered #contact {
    margin-top: 15px;
    a {
      color: white;
    }
  }

  #powered #logo {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #logo_oi {
    width:150px;
    margin-top:30px;
  }

  #logo_arab {
    width:150px;
    margin-top:10px;
  }

  #logo_dfg {
    width:170px;
  }
  #dfg_founded {
    font-size: xx-small;
    color: $secondary;
  }

  #logo_vzg {
    width:150px;
    margin-top:30px;
  }

background-size: cover;


  #nav_below > ul {
    margin-top: 15px;
    padding-left: 0;
    > li {
      list-style: none;
      display: inline;
      padding: 0 30px;
      a {
        color: white;
      }
    }
  }
}
