/* ---------------------------------------------------------------------------
   base functions
----------------------------------------------------------------------------*/

.cmo_clear {
  clear: both;
}

.cmo_arrowUp {
  width: 16px;
  height: 21px;
  background-image: url("../../../content/images/misc_icons/cmo_arrowUp.svg");
  background-repeat: no-repeat;
  float: left;
}

.cmo_arrowLeft {
  width: 20px;
  height: 16px;
  background-image: url("../../../content/images/misc_icons/cmo_arrowLeft.svg");
  background-repeat: no-repeat;
  float: left;
  margin-top: 5px;
  margin-right: 10px;
}

.cmo_arrowRight {
  width: 20px;
  height: 16px;
  background-image: url("../../../content/images/misc_icons/cmo_arrowRight.svg");
  background-repeat: no-repeat;
  float: right;
  margin-top: 5px;
  margin-left: 10px;
}

.cmo_alert {
  margin-bottom: 0px;
}

/* ---------------------------------------------------------------------------
   inline styles to css
   moved styles from the document here
----------------------------------------------------------------------------*/
#project_logo_box {
    font-size:200%;
    margin:6px;
}

#project_logo_box a img {
    height:40px;
    margin-right:10px;
}

#page {
    margin-bottom:30px;
}

/*
 fix for https://github.com/gbv/cmo/issues/62
 */
@media print {
  a[href]:after, a[title]:after {
    content: none !important;
  }
}

/* ---------------------------------------------------------------------------
   base structure
----------------------------------------------------------------------------*/
body {
    padding-top: 210px;
    min-width: 320px;
}

p {
    margin: 0 0 20px;
}

/* ---------------------------------------------------------------------------
   header
----------------------------------------------------------------------------*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 320px;
  height: 70px;
  z-index: 500;
  box-shadow: 10px 0px 8px $cmo_shadow;
  background-color: white;

  #logo {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #logo img {
    height: 80px !important;
    padding: 18px 53px;
  }
  #logo #slogan {
    display: none;
  }
}


/* ---------------------------------------------------------------------------
   section
----------------------------------------------------------------------------*/
section {
    background-color: $cmo_purple_footerBack;
}
section #side_menu_1 {
    color: $secondary;
}
section #content {
    // der mittlere Bereich hat die Höhe vom ViewPort - 70px Header - 40px padding vom mittleren Bereich - 100px Fussmenu - 50px Footer
    // TODO: use variables therefor
    min-height: calc(100vh - 70px - 40px - 100px - 50px);
    background-color: white;
    border-left: 1px solid #ccc;
    padding-bottom: 60px;
}
section #sidebar {
    background-color: white;
}

/* ---------------------------------------------------------------------------
   footer
----------------------------------------------------------------------------*/
footer {
    font-size: 12px;

  #subnav #side_menu_2 {
    color: $secondary;
    background-color: white;
    border-top: 1px solid #ccc;
  }

  #subnav #bottom_menu,
  #subnav #bottom_side {
    color: $secondary;
    background-color: $cmo_purple_footerBack;
    border-top: 1px solid #ccc;
  }

  #subnav #bottom_menu {
    border-left: 1px solid #ccc;
  }

  #subnav #bottom_menu .logo-box  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  #powered {
    color: white;
    background-color: $cmo_purple_separators;
  }

  #powered #contact {
    margin-top: 15px;
    a {
      color: white;
    }
  }

  #powered #logo {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #nav_below > ul {
    margin-top: 15px;
    padding-left: 0;
    > li {
      list-style: none;
      padding: 5px 10px;
      &:hover,
      &:focus {
        background-color: transparent;
      }
      a {
        color: white;
        &:hover,
        &:focus {
          color: white;
        }
      }
    }
  }
}

.form-login {
  button {
    margin-right: 10px;
  }
}
