/* ---------------------------------------------------------------------------
   style xeditor forms
----------------------------------------------------------------------------*/

/*
.form-inline .form-control.cmo_dateInput {
  width: 130px;
}*/


#cmo_xeditor {
  font-size: 85%;
  select, .form-control {
    font-size: 90%;
  }
  label {
    font-weight: normal;
    color: $brand-info;
  }
}

.required label::after {
  content: " *";
}

.form-control::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

.form-group {
  padding-left: 15px;
}

.cmo-form-select {
  text-align:right;
  font-weight:bold;
}

fieldset {
  margin: 40px 0px 60px 0;
}

.feedback {
  font-size: 60%;
}

.cmo-fieldset-componentGrp > .form-group {
  padding-left: 50px; }

.cmo-fieldset-componentGrp > fieldset {
  padding-left: 38px;
}

.pmud-button .btn {
  padding: 4px 8px;
  font-size: 12px;
  margin-left: 1px;
  margin-top: 4px;
}

.form-control[contenteditable='true']{
  height: initial;
}