/* ---------------------------------------------------------------------------
   style xeditor forms
----------------------------------------------------------------------------*/

/*
.form-inline .form-control.cmo_dateInput {
  width: 130px;
}*/

.required label::after {
    content: " *";
}

.form-control::-moz-placeholder {
    color: #c0c0c0;
    opacity: 1;
}

fieldset {
    margin: 40px 0px 60px 0;
}
