@font-face {
  font-family: 'CarlitoBold';
  src: url('../../../font/Carlito-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CarlitoBoldItalic';
  src: url('../../../font/Carlito-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'CarlitoItalic';
  src: url('../../../font/Carlito-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'CarlitoRegular';
  src: url('../../../font/Carlito-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Carlito';
  src: url('../../../font/Carlito-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
