/* ---------------------------------------------------------------------------
   metadata stuff
----------------------------------------------------------------------------*/
.cmo_titleStmt {
  padding-right: 5px;
}

.cmo_isArabic {
  direction: rtl;
}

#cmo_metadataSection {
  td>ol {
    padding-left: 0;
  }

  ol li {
    list-style-type: none;
  }
}

table > tbody > tr.cmo_noBorder > td, table > tbody > tr.cmo_noBorder > th {
    border-top: 0px;
    margin-top: 0px;
    padding: 0px 8px 8px 8px;
}

.cmo_contentType {
  font-weight: bold;
  color: #aaa;
  font-size: small;
}
