/* ---------------------------------------------------------------------------
   metadata stuff
----------------------------------------------------------------------------*/
.cmo_titleStmt {
  padding-right: 5px;
}

.cmo_isArabic {
  direction: rtl;
}

#cmo_metadataSection {
  td>ol {
    padding-left: 0;
  }

  ol li {
    list-style-type: none;
  }
}
