/* ---------------------------------------------------------------------------
    navigation
----------------------------------------------------------------------------*/

/* ---------------------------------------------------------------------------
   login and languange menu
----------------------------------------------------------------------------*/

#cmo_side-menu {
  margin-top: 20px;

  > ul {
    display: block;
  }

  #cmo_icon-profile {
    margin: 0 0 0 0;
    padding: 0 0 10px 0;
    color: $secondary;
    font-size: 14px;
    &:hover,
    &:focus {
      background-color: transparent;
    }
    img {
      margin-bottom: 5px;
    }
  }

  .cmo_language-menu {
    list-style: none;
    margin-top: 6px;
    margin-right: 15px;

    li {
      display: inline;
    }
    li a {
      color: $secondary;
      font-size: 14px;
    }
    li.active a {
      font-weight: bold;
    }
    li:not(:last-child):after {
      content: ' | ';
      color: $secondary;
      font-size: 14px;
    }
  }
}

/* ---------------------------------------------------------------------------
   side menu
----------------------------------------------------------------------------*/
.cmo-dropdown-toggle {
  .fas {
    padding-left: 20px;
    color: #666689;
  }
  .fa-chevron-right {
    display: none;
  }
  .fa-chevron-down {
    display: inline;
  }
  &.collapsed {
    .fa-chevron-right {
      display: inline;
    }
    .fa-chevron-down {
      display: none;
    }
  }
}


#side_menu_1,
#side_menu_2 {
  padding: 0;

  #basked_badge {
    left: -12px;
    top: -14px;
    font-size: 60%;
    color: #ca1914;
  }

  ul.nav {
    display: block;
    float: none;
    text-align: left;
    li {
      float: none;
    }
  }


  nav {
    padding: 0;
    a {
      color: #57595a;
    }
    > ul > li {
      border-bottom: 1px solid #ccc;
      &.active > a {
        color: #57595a;
        background-color: #e3e3e3;
      }
    }
    > ul > li#cmo_tutorial {
      border-bottom: 0px;
    }
    > ul > li > a {
      font-size: 17px;
      padding-left: 50px;
      background-position: 15px 15px;
      background-repeat: no-repeat;
      background-size: 20px;
    }
    > ul > li#cmo_edition > a {
      background-image: url('../../../content/images/menu_icons/cmo_edition.svg');
    }
    > ul > li#cmo_catalogue > a {
      background-image: url('../../../content/images/menu_icons/cmo_catalogue.svg');
    }
    > ul > li#cmo_home > a {
      background-image: url('../../../content/images/menu_icons/cmo_home.svg');
    }
    > ul > li#cmo_basket > a {
      background-image: url('../../../content/images/menu_icons/cmo_basket.svg');
    }
    > ul > li#cmo_publish > a {
      background-image: url('../../../content/images/menu_icons/cmo_buddy.svg');
    }
    > ul > li#cmo_userGuide > a {
      background-image: url('../../../content/images/menu_icons/cmo_help.svg');
    }
    > ul > li#cmo_tutorial > a {
      background-image: url('../../../content/images/menu_icons/cmo_tutorial.svg');
    }

    // level 2
    ul.cmo-dropdown-menu {
      position: static;
      float: none;
      border: none;
      box-shadow: none;
      margin: 0;
      padding: 0;
      background-color: white;
      border-radius: none;
      font-size: 14px;
      li {
        border-bottom: 1px solid #e5e5e5;
        &:last-child {
          border-bottom: none;
        }
        a {
          padding: 10px 10px 10px 20px;
          &:hover {
            color: white;
            background-color: #666689;
          }
        }
        &.active {
          a {
            color: #fff;
            background-color: #eeab2b;
          }
        }
      }
    }
  }
}
// for dropdown menu with lists
li.dropdown-item {
  // remove spacing from list element
  padding: 0;
  a {
    // add spacing to link instead
    padding: 0.25rem 1.5rem;
  }
}

.cmo-dropdown {
  .dropdown-item {
    a {
      color: #57595a;
    }
    a:hover,
    a:focus {
      color: white;
      background-color: #666689;
    }
    &.active {
      a {
        color: white;
      }
    }
  }
}

footer #nav_below > ul > li.dropdown-item.active {
  background-color: transparent;
  text-decoration: underline;
}

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}