/* ---------------------------------------------------------------------------
   search stuff
----------------------------------------------------------------------------*/
#e_suche {
  height: 70px;
  //border-right: 1px solid $cmo_purple_separators;
  border-left: 1px solid $cmo_purple_separators;

  .switcher {
    position: absolute;
    right: -5px;
    top: 0;
    z-index: 1;
    cursor: pointer;

    img {
      height: 70px;
    }
  }
}

.facet {
  padding: 0.5em;

  li {
    display: block;
  }

  ul {
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
  }

  input[type="checkbox"] {
    margin-right: 1em;
  }

  [data-facet-hidden] {
    display: none;
  }

  [data-facet-show] {
    cursor: pointer;
  }
}

#e_suche, #k_suche {
  height: 70px;
  padding: 0px;

  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: linear;

  img.icon {
    height: 20px;
    position: absolute;
    z-index: 1;
    top: 26px;
    &.search {
      left: 17px;
    }
    &.extender {
      &.hidden {
        display: none;
      }

      right: 17px;
    }

    cursor: pointer;
  }

  .search {
    height: 100%;
    border: none;

    > input[type='search'] {
      &:focus {
        outline: 0px;
        box-shadow: none;
      }

      height: 100%;
      display: block;
      border-radius: 0px;
      border: none;
      left: 36px;
      width: calc(100% - 36px);
      right: 0px;
      position: absolute;
      box-shadow: none;
      color: #666689;
      font-size: 13pt;

    }

    .extendedSearch {
      overflow-y: scroll;

      &.opened {
        width: 100%;
        background: white;
        border: 1px solid #ccc;
        position: absolute;
        top: 70px;
        padding-bottom: 1em;
        padding-top: 1em;
      }

      &.closed {
        height: 0%;
        display: none;
      }

    }
  }
}

.searchFacet{
  border: 1px solid #cccccc;
  border-radius: 2px;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 16px;

  .facetHeader {
    border-bottom: 1px solid #cccccc;
    margin-left: -20px;
    margin-right: -20px;
    padding: 15px 15px 25px 20px;
  }

  .facetHeader, h4 {
    font-size: 13pt;
    font-weight: bold;
    color: #57595a;
  }

  .facet {
    [type=checkbox]{
      margin-right: 0.5em;
    }

    font-size: 10pt;
  }
}

.searchResultList {
  .header {
    padding-bottom: 15px;
    padding-top: 47px;
  }

  .ascdesc {
    cursor: pointer;
  }

  .hit {

    border-bottom: 1px solid #cccccc;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 14px;

    .badge {
      background-color: #338e34;
      padding: 2px 6px;
      font-size: 11px;
      font-weight: normal;
    }

    .hitTitle {
      display: block;
      font-weight: bold;
      margin-bottom: 8px;
      cursor: pointer;
      color: #57595a;
      font-size: 16pt;
    }

    .key:after {
      content: ':';
    }
  }

  hr {
    border-color: #cccccc;
  }

  .pages {
    margin-top: 3em;
  }

  .value {
    display: block;
  }
}

[data-basket]{
  cursor: pointer;
}

[data-basket-add-all]{
  cursor: pointer;
}

#basket{
  font-size: 14px;
}

.search-extra {
  padding: 0px;

  .cmo-abort-button {
    cursor: pointer;
    padding: 5px;
  }
}

.row {

  .chosen-single {
    background: none !important;
  }

  .chosen-container-single a.chosen-single,
  .chosen-container-multi ul.chosen-choices{min-height: 34px; padding-top: 4px; padding-left: 1em;}
  .chosen-container-multi ul.chosen-choices{border: 1px solid #ccc; border-radius: 4px; }
  .chosen-container b{background-position: 0px 6px !important; }
  .chosen-with-drop b{background-position: -18px 6px !important; }
}

.input-group {
  >div.chosen-container-single:not(:last-child) a.chosen-single,
  >div.chosen-container-multi:not(:last-child) ul.chosen-choices{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  >div.chosen-container-single:not(:nth-child(2)) a.chosen-single,
  >div.chosen-container-multi:not(:nth-child(2)) ul.chosen-choices{ /* the original select will be the first-child regardless so not first visible */
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
