/* ---------------------------------------------------------------------------
   search stuff
----------------------------------------------------------------------------*/
#e_suche {
  height: 70px;
  //border-right: 1px solid $cmo_purple_separators;
  border-left: 1px solid $cmo_purple_separators;

  .switcher {
    position: absolute;
    right: -5px;
    top: 0;
    z-index: 1;
    cursor: pointer;

    img {
      height: 70px;
    }
  }
}

.facet {
  padding: 0.5em;

  li {
    display: block;
  }

  ul {
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
  }

  input[type="checkbox"] {
    margin-right: 1em;
  }

  [data-facet-hidden] {
    display: none;
  }

  [data-facet-show] {
    cursor: pointer;
  }
}

#e_suche, #k_suche {
  height: 70px;
  padding: 0px;

  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: linear;

  img.icon {
    height: 20px;
    position: absolute;
    z-index: 1;
    top: 26px;
    &.search {
      left: 17px;
    }
    &.extender {
      &.hidden {
        display: none;
      }

      right: 17px;
    }

    cursor: pointer;
  }

  .search {
    height: 100%;
    border: none;

    > input[type='search'] {
      &:focus {
        outline: 0px;
        box-shadow: none;
      }

      height: 100%;
      display: block;
      border-radius: 0px;
      border: none;
      left: 36px;
      width: calc(100% - 36px);
      right: 0px;
      position: absolute;
      box-shadow: none;

    }

    .extendedSearch {
      overflow-y: scroll;

      &.opened {
        width: 100%;
        background: white;
        border: 1px solid #ccc;
        position: absolute;
        top: 70px;
        padding-bottom: 1em;
        padding-top: 1em;
      }

      &.closed {
        height: 0%;
        display: none;
      }

    }
  }
}

.searchResultList {
  .hit {
    .hitTitle {
      display: block;
      font-weight: bold;
      margin-bottom: 8px;
      cursor: pointer;
    }

    .key {
      font-weight: bold;
    }
  }

  hr {
    border-color: #cccccc;
  }

  .pages {
    margin-top: 3em;
  }

  .value {
    display: block;
  }
}
