
#cmo_start {
  h1 {
    margin-bottom:0;
  }
  h2 {
    margin-top:0;
  }
  #cmo_pitch_set {
    width: 100%;
    margin: 50px 0;
  }
}


#cmo_publish_catalogue {
  ul {
    list-style: none;
    padding-left: 0px;
  }
  ul li img {
    vertical-align: bottom;
    margin-right: 10px;
    padding-bottom: 5px;
  }
}
