/* ---------------------------------------------------------------------------
   override bootstrap sass variables specified here:
   http://getbootstrap.com/customize/#less-variables
----------------------------------------------------------------------------*/
$gray-base:     #252626;
$brand-primary: #eeab2b;
$brand-success: #008200;
$brand-info:    #666689;
$brand-warning: #7800cc;
$brand-danger:  #cc1400;
$body-bg:       #666689;

$font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif;
$font-size-base:         16px;

$pagination-color:       $brand-info;
$pagination-hover-color: $brand-danger;


/* ---------------------------------------------------------------------------
   inline styles to css
   moved styles from the document here
----------------------------------------------------------------------------*/
$cmo_purple_separators: $brand-info;
$cmo_purple_footerBack: #fbfafb;
//$cmo_grey_fontColor:    $text-color;
$cmo_shadow:            #dadada;

