/* ---------------------------------------------------------------------------
   override bootstrap sass variables specified here:
   http://getbootstrap.com/customize/#less-variables
----------------------------------------------------------------------------*/

$font-family-base: "Open Sans", Helvetica, Arial, sans-serif;
$body-color:         #707474;
$line-height-base:   1.428571429;

$headings-color:     #666689;
$headings-font-weight: 600;

$gray-base:     #252626;
$gray-darker:   lighten($gray-base, 20%);
$gray-dark:     lighten($gray-base, 30%);
$gray:          #969696;
$gray-light:    lighten($gray, 15%);
$gray-lighter:  lighten($gray, 30%);

$primary: #eeab2b;
$success: #008200;
$info:    #666689;
$warning: #7800cc;
$danger:  #cc1400;
$body-bg: #ffffff;
$secondary:    $gray-dark;

/* ---------------------------------------------------------------------------
   inline styles to css
   moved styles from the document here
----------------------------------------------------------------------------*/
$cmo_purple_separators: $info;
$cmo_purple_footerBack: #fbfafb;
$cmo_grey_fontColor:    $secondary;
$cmo_shadow:            #dadada;